
<div class="signin">
    <mat-card>
        <div class="row mt-3">
            <div class='col-md-12'>
              <h4 class="text-center">Forget Password</h4>
            </div>
        </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <form [formGroup]="forgetPasswordForm" #forgetPassForm="ngForm">
          
                <div class='row'>
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Email </mat-label>
                      <input matInput formControlName="email" [readonly]="this.isOTPSend">
                      <mat-error *ngIf="forgetPasswordForm.controls['email'].hasError('required')">
                        Email is <strong> required </strong>
                      </mat-error>
                      <mat-error
                        *ngIf="forgetPasswordForm.controls['email'].hasError('email') && !forgetPasswordForm.controls['email'].hasError('required')">
                        Please enter a valid email address
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
          
                <div class='row'>
                  <div class=" col-offset-2 col-md-12">
                    <button mat-stroked-button color="primary" class="mt-3" (click)='submit()'> Reset
                      Password</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
    </mat-card>
  </div>