<div class="signin">
  <mat-card>
      <h3 class="text-center">Sign Up</h3>
      <hr>
      <form [formGroup]="authReg" class="example-form signup">
          <div class="text-center">
            <!-- <input type="file">
              <img class="login-img mb-10 img-circle" src="/assets/login/check.png"  alt="Flowers in Chania"> -->
              <div class="avatarWrapper">
                  <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input type='file' id="imageUpload" (change)="onFileChange($event)"  [accept]="fileOption.acctptedTypes"  />
                        <label for="imageUpload"></label>
                    </div>
                    <div class="avatar-preview">
                        <div id="imagePreview" [ngStyle]="{'background-image': 'url(' + authReg.controls['previewUrl'].value + ')'}">
                        </div>
                    </div>
                </div>
                </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Full Name</mat-label>
                      <input matInput formControlName="name">
                      <mat-error *ngIf="authReg.controls['name'].hasError('required')">
                          Name is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-12 ">
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="email">
                      <!-- [errorStateMatcher]="matcher" -->
                      <!-- <mat-hint>Enter email address</mat-hint> -->
                      <mat-error
                          *ngIf="authReg.controls['email'].hasError('email') && !authReg.controls['email'].hasError('required')">
                          Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="authReg.controls['email'].hasError('required')">
                          Email is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-12 ">
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Password </mat-label>
                      <input matInput formControlName="password" type="password" minlength="6">
                      <!-- <mat-hint>Enter password</mat-hint> -->
                      <mat-error *ngIf="authReg.controls['password'].hasError('required')">
                          Password is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-12 ">
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Birth Date </mat-label>
                    
                          <input matInput formControlName="birthDate" [matDatepicker]="picker" placeholder="Choose a date">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                      
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class=" col-12">
                  <button type="button" class="full-with" mat-raised-button color="primary" [disabled]='!authReg.valid'
                      (click)='submit()'>Create</button>
                  <!-- <button mat-stroked-button color="primary" class="w-100" [disabled]='!authReg.valid' (click)='login()'>Login</button> -->
              </div>
          </div>
  
          <div class="row">
                  <div class="mt-3 text-center">
                    <p class="text-center ml-3"> Do you have an account?  <strong (click)='signin()'> Sign In</strong></p>
                  </div>
              </div>
      </form>
  </mat-card>
</div>
