<div class="row mt-5">
  <div class='offset-md-3 col-md-8'>
    <h4>Change Password</h4>
  </div>
</div>
<div class="row mt-2">
  <div class="offset-md-3 col-md-8">
    <form [formGroup]="changePasswordForm" #changePassForm="ngForm">
      <div class='row'>
        <div class="col-md-4">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password </mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf="changePasswordForm.controls['password'].hasError('required')">
              Password is <strong> required </strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class='row'>
        <div class="col-md-4">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>New Password </mat-label>
            <input matInput formControlName="newPassword" type="password">
            <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('required')">
              New password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('minlength')">
              Password minimum length is <strong>6</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Confirm Password </mat-label>
            <input matInput formControlName="confirmPassword" type="password">
            <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].hasError('mismatch')">
              Password not matched
            </mat-error>
          </mat-form-field>
        </div>
      </div>



      <div class='row'>
        <div class="col-md-3">
          <button mat-stroked-button color="primary" class="mt-3" (click)='submit(changePassForm)'> Change
            Password</button>
        </div>
      </div>
    </form>
  </div>
</div>
