<div class="signin">
  <mat-card>
      <form [formGroup]="authForm" class="example-form signup">
          <div class="text-center">
              <img class="login-img mb-10" src="assets/login/check.png"  alt="not found">
          </div>
          <div class="row">
              <div class="col-12">
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>User Name </mat-label>
                      <input matInput formControlName="email">
                      <!-- [errorStateMatcher]="matcher" -->
                      <!-- <mat-hint>Enter email address</mat-hint> -->
                      <mat-error
                          *ngIf="authForm.controls['email'].hasError('email') && !authForm.controls['email'].hasError('required')">
                          Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="authForm.controls['email'].hasError('required')">
                          Email is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-12 ">
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Password </mat-label>
                      <input matInput formControlName="password" type="password" minlength="6">
                      <!-- <mat-hint>Enter password</mat-hint> -->
                      <mat-error *ngIf="authForm.controls['password'].hasError('required')">
                          Password is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class=" col-12">
                  <button type="button" class="full-with" mat-raised-button color="primary" [disabled]='!authForm.valid'
                      (click)='login()'>Login</button>
                  <!-- <button mat-stroked-button color="primary" class="w-100" [disabled]='!authForm.valid' (click)='login()'>Login</button> -->
              </div>
          </div>
  
          <div class="row">
              <div class="mt-3 text-center">
                <p class="text-center ml-3 text-sm"> Do not have an account?  <strong (click)='signup()'> Sign Up!</strong>
                    Forgot password?  <strong (click)='forgetPassword()'> Click here! </strong></p>
              </div>
          </div>
          <!-- <div class="row">
              <div class="col-4 offset-md-4  mt-3">
                  <button type="button" class="btn btn-outline-primary btn-sm w-100" (click)='forgetPassword()'>Forget
                      Password</button>
              </div>
          </div> -->
      </form>
  </mat-card>
</div>
