/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0px;
}

.mat-form-field {
    width: 100%!important;
    display: block!important;
    margin-top: .8em;
}
.mat-form-field-wrapper {
    padding-bottom: 0px;
}
.mat-form-field-outline {
    background: #fff!important;
    border-radius: 5px;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    top: .1em!important;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1px 0 .5em!important;
    font-size: 14px!important;
}
.mat-form-field-infix {
    height: 42px!important;
}
// input.mat-input-element {
//     margin-top: -.0625em;
// }
.mat-form-field .mat-form-field-label-wrapper {
    top: -19px!important;
}


table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.btn-styler{
    padding-left: 80px;
    padding-right: 80px;
}

.mat-paginator-page-size-select {
    margin: 6px 4px 0 4px;
    width: 56px !important;
}
.table-container {
    height: 300px;
    overflow: auto;
  }
  body, html {
    font-family: 'Roboto';
  }
