<app-loader></app-loader>
<mat-toolbar class="top-bar menu-toolbar">
  <mat-toolbar-row>
    <button *ngIf='IsLogIn' type="button" mat-button (click)="drawer.toggle()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <span>My-App</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer [opened]="IsLogIn" mode="side" class="nav-menu-container">
   
<div class="card">
  <img class="rounded-circle profile-img" [src]="baseUrl+profileUrl" onerror="this.src='assets/login/profile.png'" alt="{{name}}" style="width:50%">
  <h4>{{name}}</h4>
  <p class="title">{{email}}</p>
  <hr>
      <mat-nav-list>
        <ng-container >
          <a *ngFor="let menu of menus" [routerLink]="menu.Url" routerLinkActive="nav-active">
            <mat-list-item class="custom-nav">
             {{menu.Name}}
            </mat-list-item>
          </a>
          <a (click)="logOut()">
              <mat-list-item class="custom-nav">
                 Log Out
                 </mat-list-item>
          </a>
        </ng-container>
        
      </mat-nav-list>


</div>
  </mat-drawer>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>