.example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .top-bar{
    background: none;
  }

  .menu-toolbar{
    background: lightgrey;
  }

  .menu-toolbar nav a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    background-color: transparent;
    font-size: 16px;
  }

  .identity-panel {
    font-size: 14px;
  }

  .identity-panel a {
    text-decoration: none;
    color: white;

  }

  .identity-panel label {
    color: white;
    
  }

  .example-container {
    width: 100%;
    height: calc(100vh - 64px);
    overflow: hidden;
  }

  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .nav-menu-container{
    min-width: 250px ;
  }

  .custom-nav{
    font-size: 15px;
  }

  .nav-active{
    display: block !important;
    background: #0c649e27 !important;
  }


  .custom-file-upload {
    width: 78px;
    float: right;
    overflow: hidden; 
    cursor: pointer;
    padding-left: 80px;   
}

  .custom-file-label {
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 80px;
      white-space: nowrap;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .profile-img{
    width: 30%;
    height: 30%;
    position: relative;
    top: 50%;
    left: 30%;
    margin-bottom: 5%;
  }