<div class="offset-md-3 col-md-6 mt-5">
  <div class=" mat-elevation-z8">

    <form [formGroup]="itemCreateFrom" class="mt-4">
      <div class="container">
        <div class="row">
            <div class="col-1">
                <span (click)="backHome()"><i style="font-size: 30px" class="fa fa-angle-left mt-3"></i></span>
                
            </div>
            <div class="col-10">
                <h4 class="text-center mt-3">Add New</h4>
               
                
            </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Title* </mat-label>
              <input matInput formControlName="title">
            </mat-form-field>
          </div>

        </div>
        <div class="row ">
          <div class="col-md-12">
              <mat-form-field class="example-full-width"  appearance="outline">
                  <mat-label>Description*</mat-label>
                  <textarea matInput formControlName="description" placeholder="description*"></textarea>
                </mat-form-field>
          </div>
          
        </div>
        <div class="row ">
          <div class="col-md-12">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Date*</mat-label>
              <input matInput [min]="minDate" formControlName="date" [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>From*</mat-label>
              <input matInput type="time" formControlName="from">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>To*</mat-label>
              <input matInput type="time" formControlName="to">
              <mat-error *ngIf="itemCreateFrom.controls['from'].value>itemCreateFrom.controls['to'].value">
                  From time must be smaller than to time.
                </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
              <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Location* </mat-label>
                  <input matInput formControlName="location">
                </mat-form-field>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-12">
              <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Notify*</mat-label>
                  <mat-select formControlName="notify">
                    <mat-option *ngFor="let noty of notityList" [value]="noty.name">
                      {{noty.name}} minutes
                    </mat-option>
      
                  </mat-select>
                  <mat-error *ngIf="itemCreateFrom.controls['notify'].hasError('required')">
                    Notify is <strong>required</strong>
                  </mat-error>
                </mat-form-field>  
          </div>
       
        </div>

        <div class="row">
          <div class="col-md-12">
              <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Label*</mat-label>
                  <input matInput formControlName="label">
                  <mat-error *ngIf="itemCreateFrom.controls['label'].hasError('required')">
                    label is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
          </div>
  
        </div>
        <div class=" offset-md-10 col-md-1 ">
          <button mat-raised-button color="primary"  class="submit-btn mb-2 mt-2 " [disabled]="!itemCreateFrom.valid" (click)='submit()'>
            {{itemCreateFrom.controls['id'].value>0 ? 'Update': 'Save'}}</button>
        </div>

      </div>
    </form>
  </div>

</div>