<div class="offset-md-2 col-md-8 mt-5">
  <div class=" mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="shedule">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <div class="row">
            <div class="col-10 mt-2 mb-2 text-center">
              <h5>Home</h5>
            </div>
            <div class="col-2 mt-2 mb-2">
              <button mat-mini-fab color="primary" (click)="addNew()"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let item">
          <div id="accordion">
            <div class="card" >
              <div style=" background-color: #f8f8f8; color: #e1e1e1;" *ngIf="checkDate(item.date)">
                <p class=" ml-2 mt-2 mb-2"> {{item.date | date}}</p>
              </div>
              <div class="row" [ngStyle]="{'border-left': '3px solid '+ getRandomColor(), 'color' : getColor(item)}">
                <div class="col-11" id="headingOne{{item.id}}" data-toggle="collapse" attr.data-target="#collapse{{item.id}}"
                aria-expanded="false" aria-controls="collapseOne">
                  <div class="card-header" style="background: #fff;">
                    <div class="row">
                      <h5 class="ml-2 ">{{item.title}}</h5>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <span><i class="fa fa-clock-o mr-1"></i>{{tConvert(item.from)}} - {{tConvert(item.to)}}</span>
                        <span><i class="fa fa-map-marker ml-2 mr-1"></i>{{item.location}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-1"  class="group-btn">
                  <button *ngIf="item.statusId==itemStatusEnum.Inprogress" class="btn btn-sm" (click)="edit(item)"><i title="edit" class="fa fa-edit"></i></button>
                  <button class="btn btn-sm"  
                  [ngStyle]="{'color' : (item.statusId==itemStatusEnum.Done || !item.isOutOfDate)? 'lightgray': 'black'}" title="delete" (click)="delete(item.id)"><i class="fa fa-trash"></i></button> 
                  <a *ngIf="item.statusId==itemStatusEnum.Inprogress" href="javascript:void(0)" class="status-update" title="status update" (click)="statusUpdate(item.id)" class="fa fa-check" style="color: grey; font-size: 20px;"></a>
                </div>
              </div>


              <div id="collapse{{item.id}}" class="collapse" aria-labelledby="headingOne" style="background: #f8f8f8;"
                data-parent="#accordion">
                <div class="card-body">
                  {{item.description}}
                </div>
              </div>
            </div>

          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>

</div>