td.mat-cell {
     padding-left: 0px !important; 
     padding-right: 0px !important; 
}

.card-header {
    border-bottom: none !important;
}

.card{
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
    border-radius: 0 !important;
}

.row {
    margin-right: 0 !important; 
    margin-left: 0 !important; 
}
.group-btn{
   padding-top: 2%;
}
